@import "tailwindcss";

@theme {
  --color-background: var(--color-slate-50);
  --color-foreground: var(--color-slate-900);
  --color-primary: var(--color-indigo-600);
  --color-surface: var(--color-white);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-bellmt: "Bell MT", "Palatino Linotype", "Book Antiqua", Palatino, Georgia, serif;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}